<header>
  <nav class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <figure class="flex flex-shrink-0 items-center space-x-1">
        <img
          alt="Profile image for Tõnis Bender"
          class="h-8 w-auto rounded-full"
          src="/images/lookie.jpg"
        />
        <figcaption>Tõnis Bender</figcaption>
      </figure>
      <ul class="flex space-x-4">
        {% for item in navigation.items %}
          {% if item.url == page.url %}
            {% assign highlight = 'cursor-default' %}
            {% assign current = 'aria-current="page"' %}
          {% else %}
            {% assign highlight = 'underline' %}
            {% assign current = '' %}
          {% endif %}
          <li>
            <a
              href="{{ item.url }}"
              class="text-base font-bold {{ highlight }}"
              {{ current }}
            >
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
